{% extends 'request/base.html'%}
{% load static %}

{% block content %}
            <div class="">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h4 class="page-title">OUTGOING - In Progress Requests</h4>

                                </div>

                            </div> <!-- end row -->
                        </div>
                        <!-- end page-title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="datatable" class="table table-striped dt-responsive nowrap table-vertical" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                            <tr>
                                                <th>Request ID</th>
                                                <th>Date Requested</th>
                                                <th>Details</th>
                                                <th>From</th>
                                                <th>Status</th
                                            </tr>
                                            </thead>
                                            <tbody>
                                              {% for request in in_requests_in_progress %}
                                                <tr>
                                                    <td>
                                                        <a href="#" class="font-500">{{request.ref_code}}</a>
                                                    </td>
                                                    <td>{{request.date_posted |date:"d M, P"}}</td>
                                                    <td>{{request.content|truncatechars:40}}</td>
                                                    <td><span class="badge badge-soft-success">{{request.author_dept}} | {{request.author}}</span></td>

                                                <td>
                                                  <form class="" action="" method="post">
                                                    {% csrf_token %}
                                                    <a href="{% url 'status_update' request.id %}" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-grease-pencil font-18"></i></a>
                                                    <a href="{% url 'request_delete' request.id %}" class="text-danger" data-toggle="tooltip modal" data-target="#exampleModal" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                                  </form>
                                                  </td>
                                                </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                    </div>
                    <!-- container-fluid -->

                </div>
                <!-- content -->

                <!-- <footer class="footer">
                    © 2019 Veltrix <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.
                </footer> -->

            </div>
{% endblock content %}
