{% extends "request/base.html"%}
{% load static %}
{% block content %}
<div class="content pt-3">
    <div class="container-fluid">
<div class="row">
                           <div class="col-lg-8">
                               <div class="card">
                                   <div class="card-body">

                                       <h4 class="mt-0 header-title">To: {{object.assign_to}}</h4>
                                       <a class="btn btn-light ml-" >Request ID: {{object.ref_code}} @ {{object.date_posted}}</a>

                                       <p class="text-muted mt-2 bg-ligh">{{object.content}}</p>

                                       <div class="button-items">
                                         {% if object.author == user %}
                                           <a class="btn btn-primary waves-effect waves-light w-lg" href="{% url 'request_update' object.id %}" role="button">Edit</a>
                                          {% endif %}


                                       </div>

                                   </div>
                               </div>
                           </div>
                           <div class="col-lg-4">
                               <div class="card">
                                   <div class="card-body">

                                       <h4 class="mt-0 header-title">Hint!</h4>
                                       <p class="text-muted">Add <code class="highlighter-rouge">data-toggle="button"</code>
                                           to toggle a button’s <code class="highlighter-rouge">active</code>
                                           state. If you’re pre-toggling a button, you must manually add the <code
                                                   class="highlighter-rouge">.active</code> class
                                           <strong>and</strong> <code
                                                   class="highlighter-rouge">aria-pressed="true"</code> to the
                                           <code class="highlighter-rouge">&lt;button&gt;</code>.
                                       </p>

                                       <div class="button-items">
                                           <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="button" aria-pressed="false">
                                               Single toggle
                                           </button>

                                       </div>
                                   </div>
                               </div>
                           </div>

                       </div>
                       </div>
                       </div>

{% endblock content %}
